#nav {
  background-color: #0e0864;
  color: white;
  width: 100%;
  height: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  z-index: 999;
  opacity: 0.90;
  backdrop-filter: blur(10px);
}

#appname {
  height: 3rem;
  line-height: 4rem;
  font-size: x-large;
  width: 100%;
}
