#nav {
    background-color: #120c2c;
    color: white;
    width: 100%;
    height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    z-index: 999;
    opacity: 0.85;
    backdrop-filter: blur(10px);
}

#appname {
    height: 3rem;
    line-height: 4rem;
    font-size: x-large;
    width: 100%;
}


