.Text {
    background-color: white;
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 3rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}